.Test-main {
  height: 100%;
  width: 100%;
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: ;
  // padding: 0px 0px 0px 30px;
  // padding-left: 40px;
  // padding-right: 40px;
  gap: 20px;
}

.Test-img {
  margin-left: 40px;
  //   width: 10px;
}
.Test-tag {
  width: 70%;
  // background-color: red;
}
.Test-btn {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  background: #142683;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  border: none;
  color: #ffffff;
  margin-right: 40px;
  cursor: pointer;

  // position: absolute;
  // right: 10px;
}

.Test-report {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(92, 92, 92, 0.288);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Test-report1 {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  height: 45%;
  width: 35%;
  background-color: #ffffff;
  border-radius: 10px;

  img {
    height: 70px;
  }
}
.Test-report-head {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Report-list {
  border-width: 1px 0px;
  border-color: rgb(211, 211, 211);
  border-style: solid;
  font-size: 20px;
  color: rgb(85, 84, 84);
  position: relative;
}

.Report-list span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #142683;
  color: #fff;
  margin: 25px 10px;
  margin-right: 20px;
  font-size: 15px;
}
.Report-list input {
  position: absolute;
  right: 5px;
  margin-top: 20px;
  border: 1.8px solid #142683;
  border-radius: 4px;
  height: 35px;
  padding-left: 30px;
  font-size: large;
  color: #142683;
  font-weight: 700;
  width: 150px;
}

.Test-report1 button {
  margin-top: 30px;
}
