.Test-main {
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: ;
  // padding: 0px 0px 0px 30px;
  // padding-left: 40px;
  // padding-right: 40px;
  gap: 20px;
}

.Test-img {
  margin-left: 40px;
  //   width: 10px;
}
.Test-tag {
  width: 70%;
  // background-color: red;
}
.Test-btn {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  background: #142683;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  border: none;
  color: #ffffff;
  margin-right: 40px;
  cursor: pointer;

  // position: absolute;
  // right: 10px;
}

.Test-report {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(92, 92, 92, 0.288);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Test-report1 {
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  height: 45%;
  width: 35%;
  background-color: #ffffff;
  border-radius: 10px;

  img {
    height: 70px;
  }
}
.Test-report-head {
  display: flex;
  justify-content: space-between;
}
